#logout{
  color: red;
  font-weight: 500;
}

.center-content{
  display: flex;
  justify-content: center;
}

#txtFoodAmount{
  width: 50%;
}

ion-thumbnail img{
  object-fit: none;
  transform: scale(1.6);
}

ion-page #listadoRegistrosAlimenticios{
  background-color: aquamarine;
}

.date-picker-header{
  text-align: center;
}

.center-text {
    text-align: center;
}

.enphasis-text-colored{
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  font-weight: 600;
  font-size: large;
  color: white;
  border-radius: 20px;
}

.enphasis-text{
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  font-weight: 600;
  font-size: large;
  color: white;
  background-color: grey;
  border-radius: 20px;
}

.green-text{
  background-color: green;
}

.orange-text{
  background-color: orange;
}

.red-text{
  background-color: brown;
}

body {
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
  width: 100vw;
}

#map{
  height: 500px;
  width: 100%;
  padding: 20px;
}