#logout{
  color: red;
  font-weight: 500;
}

.center-content{
  display: flex;
  justify-content: center;
}

#txtFoodAmount{
  width: 50%;
}

ion-thumbnail img{
  object-fit: none;
  transform: scale(1.6);
}

ion-page #listadoRegistrosAlimenticios{
  background-color: aquamarine;
}

.date-picker-header{
  text-align: center;
}